html, body {
    height: 100%;
}
.page {
    background-image:url(img/green-bambuk.jpg)
}
.home {
    width: 1500px;
    height: 1087px;
    background-image: url(img/img.png);
}
.about {
    width: 1500px;
    height: 700px;
    background-image: url(img/img2.png);
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav__header {
    width: 560px;
    display: flex;
    justify-content: space-between ;
}